body {
    background-color: #0a290a;
    background-image:url(../img/prism.png);
    color: white;
    line-height: 24px;
    font-size: 21px;
    text-align: center;
    list-style: none;
    
}

h1 {
    color: lightgray;

}

span {
    background-color: black;
}

.button {
    background-color: black;
    border: 1px, solid white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    list-style: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

p {
    color: gray;
}

.box {
    background-color: grey;
    margin: auto;
    border: 4px solid black;
    padding: 15px;
    width: 300px;
    list-style: none;
    text-align: left;
}

.signature {
    background-color: black;
    font-size: x-small;

}

.process {
    font-size: larger; 
    color: rgb(202, 199, 199);
    text-align: justify;
    text-justify: inter-word;
 }
 

.logo {
    background-color: black;
    border: solid grey;
    ;
}