body {
    background-color: #0a290a;
    color: white;
    line-height: 24px;
    font-size: 21px;
    text-align: center;
    
}

h1 {
    color: lightgray;

}

span {
    background-color: black;
}

.button {
    background-color: black;
    border: 1px, solid white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    list-style: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

p {
    color: gray;
}

.signature {
    background-color: black;
}

.ingredients {
    list-style: none;
}

.process {
   font-size: larger; 
   color: dimgrey;
   text-align: justify;
   text-justify: inter-word;
   list-style: decimal;
}

.logo {
    background-color: black;
    border: solid grey;
    ;
}